/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
}
