@import "./normalize.css";
@import "./global.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #0a0c1c;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.card {
  overflow: hidden;
  border-radius: 8px;
  margin: 80px 24px 88px;
  background: #1b1937;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.2);
  display: flex;
  align-items: stretch;
}
.card__content {
  padding: 72px;
}
.card__title {
  color: #fff;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
  max-width: 403px;
  margin-bottom: 25px;

  span {
    color: #ab5cdb;
  }
}
.card__desc {
  max-width: 374px;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.75;
  margin-bottom: 72px;
}
.card__figures {
  display: flex;
  gap: 61px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.card__figure {
}
.card__figure-rating {
}
.card__figure-name {
}
.card__image {
}

@media screen and (max-width: 1024px) {
  .card {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .card__image {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .card__title {
    font-size: 28px;
  }
}
